@model IEnumerable<ToDoList_APP.Models.TodoList>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">ADD New Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Note
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Note
            </td>
            <td>
                @item.Status
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
